@model IEnumerable<DeptHeadCount>

<h3 class="text-center">Employee Head Count Summary</h3>

<table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr>
        <th>Department</th>
        <th>Head Count</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Department
                </td>
                <td>
                    @item.Count
                </td>
            </tr>
        }
    </tbody>
</table>