@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1 class="display-4">Welcome</h1>
        <h2>to our first RAZOR PAGE project</h2>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>  
</div>
<div class="row text-center">
    <div class="col">
        <div>
            <img src="/images/banner.jpg" class="w-50 img-fluid img-thumbnail" alt="Master Progger youtube channel" />
        </div>
    </div>
</div>
